<div class="container-fluid">
    <div class="row">
      <span class="fw-bold fs-3">Performance </span>
      <div class="col-lg-12 sm-4 mt-3 mb-1 text-center">
        <button type="button" class="badge rounded-pill bg-light text-dark px-2 py-1 mx-1" (click)="T20clicked()" >T-20</button>
        <button type="button"class="badge rounded-pill bg-light text-dark px-2 py-1 mx-1" (click)="OneDayclicked()">One Day</button>
        <button  type="button" class="badge rounded-pill bg-light text-dark px-2 py-1 mx-1" (click)="Testclicked()" >Test</button>
      </div>
    </div>
  </div>
<canvas id="linechart" height="50px" ></canvas>